{% block title %}Cadastro{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {{ form_start(form, {attr: {novalidate: "novalidate"}}) }}
        {{ form_widget(form) }}
        <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#confirm">Cadastrar</button>
        <div class="modal fade" id="confirm" role="dialog">
            <div class="modal-dialog modal-md">

                <div class="modal-content">
                    <div class="modal-body">
                        <p> DESEJA SALVAR?</p>
                    </div>
                    <div class="modal-footer">
                        {{ form_start(form, {attr: {novalidate: "novalidate"}}) }}
                        {{ form_widget(form) }}

                        <button type= "submit" class="btn btn-success" >Salvar</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}


