{% extends 'base.html.twig' %}
{% block title %}familias{% endblock %}

{% block body %}
<h1>Familias</h1>
<hr>
<a href="{{ path('familia_create') }}" class="btn btn-success" ><i class="fas fa-plus"></i> Novo</a>
<hr>
<div>
    {% set foo = "" %}
    <table id="example2" class="table table-striped projects">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Cidade</th>
            <th class="text-center">Programa Social</th>
            <th class="text-center">Acões</th>

        </tr>
        </thead>
        <tbody>
        {% set idMaterial = "" %}
        {% for familia in familias %}
            <tr>
                <td class="text-center">{{ familia.id }}</td>
                <td class="text-center">{{ familia.estado }}</td>
                <td class="text-center">{{ familia.cidade }}</td>
                <td class="text-center">{{ familia.programaSocial }}</td>

                <td class="text-center project-actions text-right">

                    <a class="btn btn-primary btn-sm" href="{{ path('familia_update', {'id': familia.id}) }}">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                    </a>
                    <button type="button" data-toggle="modal" data-target="#confirm" class="btn btn-danger btn-sm">Deletar</button>

                    <div class="modal fade" id="confirm" role="dialog">
                        <div class="modal-dialog modal-md">

                            <div class="modal-content">
                                <div class="modal-body">
                                    <p> DESEJA DELETAR?</p>
                                </div>
                                <div class="modal-footer">

                                    <a class="btn btn-danger" href="{{ path('familia_delete', {'id': familia.id}) }}">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Deletar
                                    </a>
                                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>

                                </div>
                            </div>

                        </div>
                    </div>


                </td>
            </tr>


        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
