{% block title %}familias{% endblock %}

{% block body %}
<h1>Familias</h1>
<hr>
<a href="{{ path('familia_create') }}" class="btn btn-success" ><i class="fas fa-plus"></i> Novo</a>
<hr>
<div>
    {% set foo = "" %}
    <table id="example2" class="table table-striped projects">
        <thead>
        <tr>
            <th>#</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Programa Social</th>
            <th>Acoes</th>

        </tr>
        </thead>
        <tbody>
        {% set idMaterial = "" %}
        {% for familia in familias %}
            <tr>
                <td>{{ familia.id }}</td>
                <td>{{ familia.estado }}</td>
                <td>{{ familia.cidade }}</td>
                <td>{{ familia.idProgramaSocial }}</td>

                <td class="project-actions text-right">

                    <a class="btn btn-primary btn-sm" href="{{ path('familia_update', {'id': colete.id}) }}">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                    </a>
                    <a class="btn btn-danger btn-sm " data-toggle="modal" data-target="#confirm" href="{{ path('familia_delete', {'id': colete.id}) }}">
                        <i class="fas fa-trash">
                        </i>
                        Deletar
                    </a>
                    <div class="modal fade" id="confirm" role="dialog">
                        <div class="modal-dialog modal-md">

                            <div class="modal-content">
                                <div class="modal-body">
                                    <p> DESEJA DELETAR?</p>
                                </div>
                                <div class="modal-footer">

                                    <button type= "submit" class="btn btn-success" >Deletar</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>

                                </div>
                            </div>

                        </div>
                    </div>

                
                </td>
            </tr>


        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
